# cd and dir commands

# Fix minor errors in directory names.
shopt -s cdspell >/dev/null 2>&1

alias ..='cd ..'
alias cd..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'

# mkdir & cd into it
function mc() {
  mkdir -p "$*" && cd "$*" && pwd
}

# swap 2 filenames around
function swap() {
  # todo(scottkirkwood): add some checks
  local TMPFILE=tmp.$$
  mv "$1" $TMPFILE
  mv "$2" "$1"
  mv $TMPFILE "$2"
}

# Misc
# Needed for wcd (which is great, btw)
function wcd {
  go=$HOME/bin/wcd.go
  test -f $go && rm -f $go
  /usr/lib/wcd/wcd.exec $* && test -f $go && source $go
}

# CD then LL the directory
function cdl {
  if [ $# = 0 ]; then
    ll
  else
    cd "$*" && ll
  fi
}
