# Git related options

# Avoid 1-3 second delay before printing prompt
export GIT_CEILING_DIRECTORIES=/home

# Use meld with git
export meld_has_output_option=1

alias gitstatus='git status'
alias gs='git status'
alias gitcheckout='git checkout'
alias gitbranch='git branch'
alias gb='git branch'
alias gc='git checkout'
# I already have a gitdiff command
alias gd='git diff'


# git current branch
function gcb() {
  git branch | grep '^\*' | cut -c3-
}

