# History related settings.

# Have a huge history
export HISTFILESIZE=1000000000
export HISTSIZE=100000
export HISTTIMEFORMAT="%F %T "

# Ignore exit, ls and lines that start with spaces, and dups
export HISTCONTROL="ignoreboth:exit:ls:g4 pending:g4change:g4submit:g4vim:g4list"

# Save history on each line - no longer works?
#set cmdhist

# merge histories from different sessions
shopt -s histappend

# Turn off Ctrl-S, Ctrl-Q so that Ctrl-S for forward search of the history
#  in bash works as well (instead of only Ctrl-R)
case "$TERM" in
xterm*|rxvt*)
    stty stop undef start undef
    ;;
*)
    ;;
esac

