# Vim related options.

export EDITOR='gvim'

# Put vim swap locally
mkdir -p /var/tmp/`whoami`/vim

# Support vi commands in bash (starts in insert mode).
set -o vi

function gvim () {
  /usr/bin/gvim -f $* &
}
